* {
  box-sizing: border-box;
}

body {
  margin: 0;
  border-color: aquamarine;
}

.container {
  position: relative;
  background-image: url('img/background.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-clip: content-box;
  width: 100%;
  height: 700px;
  margin: auto;
}

.information {
  position: absolute;
  left: 45%;
  top: 5%;
  margin: auto;
  width: 100px;
  display: block;
  text-align: center;
}

.information__btn-play {
  margin-bottom: 10px;
  font-size: 32px;
  border-radius: 10px;
  cursor: pointer;
}

.information__btn-stop {
  display: none;
  margin-bottom: 10px;
  font-size: 32px;
  border-radius: 10px;
}

.information__clock {
  margin: auto;
  margin-bottom: 10px;
  border: 2px solid black;
  width: fit-content;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 24px;
  background-color: whitesmoke;
}

.information__counter {
  border: 2px solid black;
  margin: auto;
  padding: 3px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  font-size: 24px;
  background-color: burlywood;
}

.notice {
  display: none;
  position: absolute;
  left: 40%;
  top: 50%;
  margin: auto;
  width: 250px;
  height: 100px;
  background-color: rgba(169, 169, 169, 0.7);
  text-align: center;
  border-radius: 20px;
}

.notice__replay {
  font-size: 24px;
  margin-bottom: 10px;
}

.notice__text {
  font-size: 30px;
  opacity: 100%;
}

.targets {
  display: none;
}

img[alt='bug01'] {
  position: absolute;
  left: 500px;
  top: 300px;
}

img[alt='carrot01'] {
  position: absolute;
  left: 300px;
  top: 400px;
}